@if (memberService.member(); as member) {
  <div class="flex flex-col gap-3">
    <div class="flex">
      <span class="font-semibold">Member Since:&nbsp;</span>
      <span>{{ member.created | date: 'longDate' }}</span>
    </div>
    <div class="flex">
      <span class="font-semibold">Member Since:&nbsp;</span>
      <span>{{ member.lastActive | date: 'dd MMM yyyy h:mm a' }}</span>
    </div>
    <h3 class="text-lg font-semibold text-primary">About {{ member.displayName }}</h3>
    @if (memberService.editMode()) {
      <form #editForm="ngForm" (ngSubmit)="updateProfile()" class="flex flex-col w-full gap-4">
        <label for="displayName" class="floating-label">
          <span>Display Name</span>
          <input
            id="displayName"
            name="displayName"
            type="text"
            [(ngModel)]="editableMember.displayName"
            class="input w-full"
            placeholder="Display Name"
          />
        </label>
        <label for="description" class="floating-label">
          <span>Description</span>
          <textarea
            id="description"
            name="description"
            [(ngModel)]="editableMember.description"
            class="textarea w-full"
            placeholder="Description"
          ></textarea>
        </label>
        <label for="city" class="floating-label">
          <span>City</span>
          <input
            id="city"
            name="city"
            type="text"
            [(ngModel)]="editableMember.city"
            class="input w-full"
            placeholder="City"
          />
        </label>
        <label for="country" class="floating-label">
          <span>Country</span>
          <input
            id="country"
            name="country"
            type="text"
            [(ngModel)]="editableMember.country"
            class="input w-full"
            placeholder="Country"
          />
        </label>
        <div class="flex self-end">
          <button [disabled]="!editForm.dirty" type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    } @else {
      <div>{{ member.description }}</div>
    }
  </div>
}
