<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<!--
	  Override the default LocalSqlServer connection string (defined in machine.config),
	  which points to .\SQLEXPRESS. We redirect it to LocalDB, which is installed and can
	  auto-create the aspnetdb.mdf membership database in App_Data on first use.
	-->
	<connectionStrings>
		<remove name="LocalSqlServer" />
		<add name="LocalSqlServer"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=True;AttachDbFilename=|DataDirectory|aspnetdb.mdf"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<authentication mode="Forms" ></authentication>

		<!--
		  Explicit membership provider with relaxed rules for the demo:
		  - short passwords allowed (min length 4)
		  - no required non-alphanumeric characters
		  - no security question/answer
		-->
		<membership defaultProvider="MySqlProvider">
			<providers>
				<clear />
				<add name="MySqlProvider"
					 type="System.Web.Security.SqlMembershipProvider"
					 connectionStringName="LocalSqlServer"
					 enablePasswordRetrieval="false"
					 enablePasswordReset="true"
					 requiresQuestionAndAnswer="false"
					 requiresUniqueEmail="false"
					 minRequiredPasswordLength="4"
					 minRequiredNonalphanumericCharacters="0"
					 passwordFormat="Hashed"
					 applicationName="/" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="DemoSqlRoleProvider">
			<providers>
				<clear />
				<add name="DemoSqlRoleProvider"
					 type="System.Web.Security.SqlRoleProvider"
					 connectionStringName="LocalSqlServer"
					 applicationName="/" />
			</providers>
		</roleManager>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>