<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	  
	  <!--Configuration aply to alll  the pages-->
	  <!--Validate to dont allow xss-->
	  <!--keep the podsition of the scroll before submit normal behavior-->
	  <pages validateRequest="true" maintainScrollPositionOnPostBack="true" />
	  <!--mode remoteOnly don execure on localhost if you put on it is use in all cases-->
	  <customErrors mode="On" defaultRedirect="DefaultErrorPage.aspx">
		  <error statusCode="404" redirect="FileNotFound.aspx"/>
	  </customErrors>

	  <urlMappings>
		  <add url="~/Monitor.aspx" mappedUrl="~/Computer.aspx?id=1"/>
		  <add url="~/Mouse.aspx" mappedUrl="~/Computer.aspx?id=2"/>
		  <add url="~/Keyboard.aspx" mappedUrl="~/Computer.aspx?id=3"/>
	  </urlMappings>
	  <!--It availbale a trace.axd file where you can see all the  pages you visit wit details-->
	  <!--When you activate pageOutput true the trace is hows in the same page you visite-->
	  <trace enabled="true" pageOutput="true"/>
  </system.web>
	<!--<appSettings>
		<add key="k1" value="v1"/>
		<add key="k2" value="v2"/>
	</appSettings>-->
	
	<!--// Best option to keep key safe on outside file-->
	<appSettings configSource="AppSettings.xml">
	</appSettings>

	<!--Apply specific config for a specific file-->
	<!--<location path="Deafault.aspx">
		<appSettings>
		<add key="k1" value="v1"/>
		<add key="k2" value="v2"/>
	</appSettings>
	</location>-->
	
	<!--<appSettings>
		<add key="k1" value="v1"/>
		<add key="k2" value="v2"/>
	</appSettings>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>